h1{
    color: blue;
    font-size: 2em;
}

p{ 
    font-style:initial;
} 

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
 grid-column-start:3;
 grid-column-end:4;
 padding:15px;
 
}
